<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title><%= "#{organization} #{_(' Central Login')}" %></title>
    <link type="text/css" href="<%= self/'/themes/cas.css' %>" rel="stylesheet"/>
    <link type="text/css" href="<%= self/"/themes/#{current_theme}/theme.css" %>" rel="stylesheet"/>
    <% if File.exists?("#{$APP_ROOT}/public/themes/#{current_theme}/favicon.png") %>
    <link type="image/png" href="<%= self/"/themes/#{current_theme}/favicon.png" %>" rel="icon"/>
    <% end %>
  </head>
  <body onload="if (document.getElementById('username')) document.getElementById('username').focus()">
    <%= yield %>
  </body>
</html>
