<%# coding: UTF-8 -%>
<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
                      "XHTML1-s.dtd" >
<html xmlns="http://www.w3.org/TR/1999/REC-html-in-xml"
      xml:lang="en" lang="en" >

  <head>
    <title><%= @organization %><%= _(" Central Login") %></title>
    <link rel="stylesheet" type="text/css" href="<%= @uri_path %>/themes/cas.css" />
    <link rel="stylesheet" type="text/css" href="<%= @uri_path %>/themes/<%= @theme %>/theme.css" />
    <link rel="icon" type="image/png" href="<%= @uri_path %>/themes/<%= @theme %>/favicon.png" />
  </head>

  <body onload="if (document.getElementById('username')) document.getElementById('username').focus()">
    <%= yield %>
  </body>
</html>